.navbar{
    background-color: #01a084;
}
.bankicon{
    border-radius: 20px;
    width: 40px;
    height: 40px;
}

.buttonlog{
    color: white;
    background-color: #049781;
    margin-top: 10px;
    transition: .2s;
}
.buttonlog:hover{
    background-color: rgb(29, 98, 55);
}
.colright{
    padding-top: 70px;
}

